body{
    background-image:url("https://free4kwallpapers.com/uploads/originals/2015/08/25/website-background.jpg") ;
}

#title{
    float: left;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(105, 73, 32);
    margin:2px;
    border: 2px solid rgb(105, 73, 32);
    border-radius: 15px;
    padding: 5px ;
    text-transform: uppercase;
    margin-left: 10px;
}
#title:hover{
    text-shadow: 0.5px 0.5px rgb(105, 73, 32);
}

#navs{
    float: right;
}

header{
    background: rgb(235, 203, 160);
}

header::after{
    content: '';
    display: table;
    clear: both;
}

header:hover {
    color: #000

}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 100px;
    margin-right: 10px;
    padding-top: 20px;
    position: relative;
}

.pgs{
    text-decoration: none;
    color: rgb(105, 73, 32);
    text-transform: uppercase;
    text-shadow: 0.5px 0.5px rgb(105, 73, 32);;
}

nav a::before{
    content: '';
    display:block;
    height: 5px;
    background-color:rgb(105, 73, 32);
    position:absolute;
    top:5px;
    width:0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width:100%;
}


#container{
    margin-top: 100px;
    margin-left: 100px;
    
}


#p1home{
    font-size: 150px;
    color: rgb(235, 203, 160);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-shadow: 6px 6px rgb(105, 73, 32);

}

#p2home{
    margin: 120px;
    font-size: 40px;
    color: rgb(159, 136, 106);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px rgb(235, 203, 160)

}

#cont2{
    margin-left: 200px;
    margin-top: 100px;
    margin-right: 800px;
    font-size: 30px;
    color: rgb(129, 97, 55);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}







#Bcont{
    text-align: center;
    margin-top: 120px;
    font-size: 50px;
    color: rgb(235, 203, 160);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-shadow: 4px 4px rgb(105, 73, 32);

}

#Bcont2{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

}
#Bcont2 .Bp2{
    float:left;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 200px;
    color: rgb(129, 97, 55);
    font-size:larger;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border: 3px solid rgb(105, 73, 32);
    background-color: rgb(235, 203, 160);
    border-radius: 15px;
    padding: 15px;
}

#Bcont2 .escalator{
    float: right;
    margin-right: 350px;
}
 



#Econt{
    text-align: center;
    margin-top: 120px;
    font-size: 50px;
    color: rgb(235, 203, 160);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-shadow: 4px 4px rgb(105, 73, 32);

}


#Eall{
    display: flex;
    flex-direction: column;
}
#Econt2{    
    float: left;
    margin-top: 50px;
    font-size: 25px;
    color: rgb(159, 136, 106);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 100px;
    font-weight: bold;

}

#Econt3{
    float: left;
    font-size: 25px;
    color: rgb(159, 136, 106);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 100px;
    font-weight: bold;
}

#Econt4{
    float: left;
    font-size: 25px;
    color: rgb(159, 136, 106);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 100px;
    font-weight: bold;
}



#Econt2:hover{
    text-shadow: 2px 2px rgb(105, 73, 32);
}
#Econt3:hover{
    text-shadow: 2px 2px rgb(105, 73, 32);
}
#Econt4:hover{
    text-shadow: 2px 2px rgb(105, 73, 32);
}

#Econt2:hover .desc{
    display:block;
}
.desc{
    float: right;
    display: none;
    float:right;
    margin-right: 200px;
    margin-left: 400px;
    text-shadow: none;
    color: rgb(105, 73, 32);
    font-weight: bold;
    border: 2px solid rgb(105, 73, 32);
    background-color: rgb(235, 203, 160);
    border-radius: 50px;
    padding: 5px ;
    padding-left: 50px;
    padding-right: 50px;
}

#Econt3:hover .desc{
    display:block;
}
#Econt4:hover .desc{
    display:block;
}

#Pcont{ 
    text-align: center;
    margin-top: 120px;
    font-size: 50px;
    color: rgb(235, 203, 160);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-shadow: 4px 4px rgb(105, 73, 32);
}

#Pcont2{
    display:flex;
    justify-content: center;
    border: 2px solid rgb(105, 73, 32);
    background-color: rgb(235, 203, 160);
    align-items: center;
    margin-left:500px;
    margin-right:500px;
}
#Pcont2 li{
    text-align: center;
    list-style: none;
    margin-top: 50px;
    margin-bottom: 50px;
}



#lift{
    color: rgb(235, 203, 160);
    text-align: left;
    
    bottom: 20px;
    left:20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    width:300px;
}


.lifts{
    text-align: center;
    margin: auto;
    text-decoration: none;
    color:rgb(105, 73, 32);
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

#Pcont2 li:hover{
    text-shadow: 0.5px 0.5px rgb(105, 73, 32)
}


#footer{
    text-align: right;
    position: absolute;
  bottom: 20px;
  right:20px;
  border: 2px solid rgb(159, 136, 106);
padding: 2px; 
}

.footer{
    color:rgb(235, 203, 160);
    background-color: rgb(105, 73, 32) ;
}



@media screen and (max-width:1000px){
    *{
        display: flex;
        flex-direction: column;
    }
    header {
        text-align: center;
        margin:auto;
        width:75%;
        margin-bottom: 0px;
    }
    #container{
        margin-top: auto;
        margin-left: 20px;
    }
    #p1home{
        font-size:80px;
        text-shadow: 3px 3px rgb(105, 73, 32);
    }
    #p2home{
        font-size:30px;
        margin-left:20px;
        margin-top:10px ;
        margin-bottom: 10px;
    }
    #cont2{
        font-size: 20px;
        margin-left:20px;
        margin-right: 100px;
    }
    #Econt{
        margin-top:20px;
        margin-bottom:20px;
    }
    #Econt2,#Econt3,#Econt4{
        margin-top:20px
    }
    .desc{
        font-size: small;
        float: none;
        margin-left: 0px;
        margin-right: 0px;
    }
    #Bcont2 .escalator{
        margin-top: 100px;
        margin-right:auto ;
        margin-left: auto;
        align-items: center;
                }
    #Bcont2 .Bp2 {
        font-size: 10px;
        float: none;
        margin-left: auto;
        margin-right: 10px;
    }
    #footer{
        position: relative;
    }
}

@media screen and (max-width:1700px){
    *{
        display: flex;
        flex-direction: column;
    }
    header {
        text-align: center;
        margin:auto;
        width:75%;
        margin-bottom: 0px;

    }
    #container{
        margin-top: auto;
        margin-left: 20px;
    }
    nav li{
        margin:auto;
    }
   #Pcont{
    margin-top:0px
   }
   #Pcont2{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
   }
    #cont2{
        font-size: auto;
        margin-left:20px;
        margin-right: 100px;
        margin-top:20px
    }
    #Bcont{
        margin-top: 30px;
        margin-bottom: 0px;
    }
    #Bcont2 .Bp2{
        float: none;
        font-size: 15px;
        margin-top: 0px;
    }
    #Bcont .escalator{
        float: none;
        display: flex;
        justify-content: center;
    }
    .desc{
        font-size: auto;
        float: none;
        margin-left: 0px;
        margin-right: 0px;
    }
    #footer{
        bottom:0px;
        right:0px;

    }
    #Econt{
        margin-top: 0px;
    }
    .escalator{
margin-top: 100px;
margin-right:auto ;
margin-left: auto;
align-items: center;
        }
    .Bp2 {
        float: left;
    }
}

